<div id="contentmain">

      <div class="epibot-panel epibot-tab-main" id="tab_accounts"><%- include('../partials/tab.accounts.ejs'); %></div>
      <div class="epibot-panel epibot-tab-main" id="tab_balances"></div>
      <div class="epibot-panel epibot-tab-main" id="tab_positions"></div>
      <!--div class="epibot-panel epibot-tab-main" id="tab_orders"></div-->
      <div class="epibot-panel epibot-tab-main" id="tab_security"></div>
      <!--div class="epibot-panel epibot-tab-main" id="tab_logs"></div-->
      <!--div class="epibot-panel epibot-tab-main" id="tab_provider"></div-->
      <div class="epibot-panel epibot-tab-main" id="tab_logs"></div>
      <div class="epibot-panel epibot-tab-main" id="tab_logout"></div>

</div>