
    <hr>
    <%
        var year = (new Date()).getFullYear();
    %>
    <div class="row">
        <div class="col text-left"><p class="text-left text-muted">Copyright © <%= year %> epibot</p></div>
        <div class="col text-center"><p class="text-center text-muted" id="header_uuid"></p></div>
        <div class="col text-right" style="text-align: right;"><img src="/images/poweredbyepibot.png" height="20" /></div>
    </div>
</div>
<div id="epibot-notifications"></div>
<div id="info"></div>
<div id="warning"></div>
<div id="success"></div>
<div id="error"></div>

</body>
</html>