<div id="mainmenu">
</div>

<script type="text/javascript">
    //var signaladmin = <%= menu_main['isSignalAdmin'] %>;
    var menu = [
         { id: 'tab_accounts', name: 'Accounts',      enabled: true