
<%- include('../partials/header.ejs'); %>
<%- include('../partials/protected.ejs'); %>

  <div class="row flex-nowrap">
    <div class="col">
      <div id="menu_main">
        <!--%- include('../partials/menu.main.ejs'); %-->
      </div>
    </div>
    <div class="col">
      <%- include('../partials/content.main.ejs'); %>      
    </div>
  </div>

<%- include('../partials/footer.ejs'); %>